<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-70</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_d</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-26</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_d</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_S</key>
		<integer>-15</integer>
		<key>@MMK_R_a</key>
		<integer>-55</integer>
		<key>@MMK_R_d</key>
		<integer>-65</integer>
		<key>@MMK_R_p</key>
		<integer>-30</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_s</key>
		<integer>-65</integer>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_b</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_h</key>
	<dict>
		<key>@MMK_R_quoteright</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_quoteright</key>
	<dict>
		<key>@MMK_R_d</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_d</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_d</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
	</dict>
	<key>A</key>
	<dict>
		<key>T</key>
		<integer>-45</integer>
		<key>W</key>
		<integer>-40</integer>
		<key>quotedblright</key>
		<integer>-70</integer>
		<key>w</key>
		<integer>-15</integer>
	</dict>
	<key>AE</key>
	<dict>
		<key>j</key>
		<integer>10</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>V</key>
		<integer>-10</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-15</integer>
		<key>parenright</key>
		<integer>-35</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>V</key>
		<integer>-10</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-15</integer>
		<key>parenright</key>
		<integer>-35</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>j</key>
		<integer>10</integer>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-45</integer>
		<key>J</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>aacute</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-50</integer>
		<key>d</key>
		<integer>-15</integer>
		<key>e</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>oe</key>
		<integer>-15</integer>
		<key>period</key>
		<integer>-50</integer>
		<key>q</key>
		<integer>-15</integer>
		<key>quotedblbase</key>
		<integer>-50</integer>
		<key>quotesinglbase</key>
		<integer>-50</integer>
	</dict>
	<key>G.salt</key>
	<dict>
		<key>W</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>parenright</key>
		<integer>-35</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>C</key>
		<integer>-20</integer>
		<key>G</key>
		<integer>-20</integer>
		<key>G.salt</key>
		<integer>-20</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>OE</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>aacute</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-35</integer>
		<key>d</key>
		<integer>-35</integer>
		<key>e</key>
		<integer>-35</integer>
		<key>g</key>
		<integer>-35</integer>
		<key>o</key>
		<integer>-35</integer>
		<key>oe</key>
		<integer>-35</integer>
		<key>q</key>
		<integer>-35</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>V</key>
		<integer>-41</integer>
		<key>W</key>
		<integer>-41</integer>
		<key>Y</key>
		<integer>-80</integer>
		<key>quotedblright</key>
		<integer>-100</integer>
		<key>quoteright</key>
		<integer>-100</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>W</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>parenright</key>
		<integer>-35</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-35</integer>
		<key>J</key>
		<integer>-35</integer>
		<key>Y</key>
		<integer>-5</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>V</key>
		<integer>-10</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-15</integer>
		<key>parenright</key>
		<integer>-35</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>V</key>
		<integer>-5</integer>
		<key>W</key>
		<integer>-5</integer>
		<key>Y</key>
		<integer>-17</integer>
		<key>j</key>
		<integer>10</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>t</key>
		<integer>-10</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-45</integer>
		<key>c</key>
		<integer>-30</integer>
		<key>d</key>
		<integer>-30</integer>
		<key>e</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>oe</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-70</integer>
		<key>q</key>
		<integer>-30</integer>
		<key>s</key>
		<integer>-30</integer>
		<key>space</key>
		<integer>-15</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>C</key>
		<integer>-10</integer>
		<key>G</key>
		<integer>-10</integer>
		<key>OE</key>
		<integer>-10</integer>
		<key>Q</key>
		<integer>-10</integer>
		<key>aacute</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-30</integer>
		<key>d</key>
		<integer>-30</integer>
		<key>e</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-30</integer>
		<key>oe</key>
		<integer>-30</integer>
		<key>q</key>
		<integer>-30</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>C</key>
		<integer>-10</integer>
		<key>G</key>
		<integer>-10</integer>
		<key>G.salt</key>
		<integer>-10</integer>
		<key>O</key>
		<integer>-10</integer>
		<key>OE</key>
		<integer>-10</integer>
		<key>Q</key>
		<integer>-10</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>aacute</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-30</integer>
		<key>d</key>
		<integer>-30</integer>
		<key>e</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>oe</key>
		<integer>-30</integer>
		<key>q</key>
		<integer>-30</integer>
		<key>s</key>
		<integer>-26</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>C</key>
		<integer>-20</integer>
		<key>G</key>
		<integer>-20</integer>
		<key>OE</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>aacute</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-35</integer>
		<key>d</key>
		<integer>-35</integer>
		<key>e</key>
		<integer>-35</integer>
		<key>g</key>
		<integer>-35</integer>
		<key>oe</key>
		<integer>-35</integer>
		<key>q</key>
		<integer>-35</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>C</key>
		<integer>-15</integer>
		<key>G</key>
		<integer>-15</integer>
		<key>OE</key>
		<integer>-15</integer>
		<key>Q</key>
		<integer>-15</integer>
		<key>aacute</key>
		<integer>-55</integer>
		<key>c</key>
		<integer>-65</integer>
		<key>d</key>
		<integer>-65</integer>
		<key>e</key>
		<integer>-65</integer>
		<key>g</key>
		<integer>-65</integer>
		<key>m</key>
		<integer>-30</integer>
		<key>oe</key>
		<integer>-65</integer>
		<key>p</key>
		<integer>-30</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>q</key>
		<integer>-65</integer>
		<key>quotedblbase</key>
		<integer>-100</integer>
		<key>quotesinglbase</key>
		<integer>-100</integer>
		<key>r</key>
		<integer>-30</integer>
		<key>space</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>t</key>
		<integer>-5</integer>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>aacute</key>
	<dict>
		<key>t</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>ae</key>
	<dict>
		<key>t</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>t</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>t</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>aacute</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-5</integer>
		<key>comma</key>
		<integer>-50</integer>
		<key>d</key>
		<integer>-5</integer>
		<key>e</key>
		<integer>-5</integer>
		<key>g</key>
		<integer>-5</integer>
		<key>o</key>
		<integer>-5</integer>
		<key>oe</key>
		<integer>-5</integer>
		<key>period</key>
		<integer>-50</integer>
		<key>q</key>
		<integer>-5</integer>
		<key>quotedblbase</key>
		<integer>-50</integer>
		<key>quotesinglbase</key>
		<integer>-50</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>quotedblright</key>
		<integer>-20</integer>
		<key>quoteright</key>
		<integer>-20</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>seven</key>
		<integer>-47</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>c</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>13</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>oe</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>-10</integer>
		<key>s</key>
		<integer>-10</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>quotedblright</key>
		<integer>-20</integer>
		<key>quoteright</key>
		<integer>-20</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>quotedblright</key>
		<integer>-20</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>t</key>
		<integer>-5</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>oe</key>
	<dict>
		<key>t</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>t</key>
		<integer>-5</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>C</key>
		<integer>-35</integer>
		<key>G</key>
		<integer>-35</integer>
		<key>G.salt</key>
		<integer>-35</integer>
		<key>O</key>
		<integer>-35</integer>
		<key>OE</key>
		<integer>-35</integer>
		<key>Q</key>
		<integer>-35</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>parenright</key>
		<integer>-50</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>j</key>
		<integer>95</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>A</key>
		<integer>-70</integer>
		<key>J</key>
		<integer>-96</integer>
	</dict>
	<key>quotedblright</key>
	<dict>
		<key>c</key>
		<integer>-20</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>oe</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-20</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>J</key>
		<integer>-96</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>c</key>
		<integer>-20</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>oe</key>
		<integer>-20</integer>
		<key>q</key>
		<integer>-20</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>aacute</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-5</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>d</key>
		<integer>-5</integer>
		<key>e</key>
		<integer>-5</integer>
		<key>g</key>
		<integer>-5</integer>
		<key>o</key>
		<integer>-5</integer>
		<key>oe</key>
		<integer>-5</integer>
		<key>period</key>
		<integer>-60</integer>
		<key>q</key>
		<integer>-5</integer>
		<key>quotedblbase</key>
		<integer>-60</integer>
		<key>quotesinglbase</key>
		<integer>-60</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>t</key>
		<integer>-5</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>comma</key>
		<integer>-127</integer>
		<key>period</key>
		<integer>-127</integer>
		<key>quotedblbase</key>
		<integer>-127</integer>
		<key>quotesinglbase</key>
		<integer>-127</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>aacute</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-5</integer>
		<key>comma</key>
		<integer>-50</integer>
		<key>d</key>
		<integer>-5</integer>
		<key>e</key>
		<integer>-5</integer>
		<key>g</key>
		<integer>-5</integer>
		<key>o</key>
		<integer>-5</integer>
		<key>oe</key>
		<integer>-5</integer>
		<key>period</key>
		<integer>-50</integer>
		<key>q</key>
		<integer>-5</integer>
		<key>quotedblbase</key>
		<integer>-50</integer>
		<key>quotedblright</key>
		<integer>10</integer>
		<key>quoteright</key>
		<integer>10</integer>
		<key>quotesinglbase</key>
		<integer>-50</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>aacute</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>oe</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>-10</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>aacute</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>oe</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>-10</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>c</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>13</integer>
		<key>oe</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>-10</integer>
	</dict>
</dict>
</plist>
